/* Geral */
*{
    margin: 0%;
}
/* Menu */
header{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    position: fixed;
    width: 100%;
    margin-bottom: 1%; 
    overflow: hidden;
    top: 0%;  
    z-index: 10; 
}
.conteiner{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #076422;
    color: #fff;
    padding: 15px;
}
nav {
    display: flex;
    gap: 6%;
    width: 28%;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav a:hover {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 6px;
    transition: 0.3s;
}
/* corpo */
body{
    background-image: url(../fotos/fotoa-redimensionadas-para-o-site/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    behavior: smooth;
    
}

.conteiner2 {
    margin:3% auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #043f15;
    padding: 5px;
}
.cartaz {
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
    padding: 10px 0;
}
.paragrafo-foto{
    display: flex;
    border: 10px solid white;
}
.foto-perfil {
    border-radius: 50%;
    justify-content: right;
    margin: 3% 0 0 70%;
    box-shadow: rgba(31, 19, 19, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
    
}
.fa-brands {
    width: 60px; 
    height: 60px; 
    justify-content: center; 
    align-items: center; 
    border-radius: 1px white 60px;
    margin: auto;
}

.bloco {
    
    background-color: rgb(255, 255, 255);
    padding: 8%;
    font-size: 20px;
    text-indent: 10%;
    
}

#Catalogo{
    padding: 8%;
}
button {
    margin: 3% auto;
    border: 3px solid #043f15;
    background-color: #fff;
    border-radius: 30px;
    padding: 1%;
    transition: 0.3s;
    font-size: x-large;
    position: relative;
    float: right;
}
button:hover{
    
    background-color: #043f15;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.box-flores{
    height: 100%;
    width: 100%;
    display: block;
}
.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categorias h1{
    margin: 12%;
    color: #fff;
    font-size: 50px;
}
img{
    width: 300px;
    margin: 5px;
}
/* Rodapé */
footer {
    /* background-color: #884919; */
    background-image: url(../fotos/fotoa-redimensionadas-para-o-site/madeira\ fundo\ 1.jpg);
   
    color: #043f15;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding-top: 1.5%;
    
}
iframe{
    margin: 1% auto;
    border-radius: 10px;
}
a {
    color: #043f15;
    text-decoration: none;
}
address {
    background-color: rgba(255, 255, 255, 0.1);
   width: 50%;
   margin: auto;
   
}
.redes-sociais {
    
    align-items: center;
    display: flex; 
    flex-direction: row;
    gap: 20px;
}
html{
    scroll-behavior: smooth;
}