*{
    margin: 0%;
}
body{
    background-image: url(../fotos/fotoa-redimensionadas-para-o-site/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    
}
nav {
    display: flex;
    gap: 4%;
}
nav li:hover {
    color: #fff;
}
.conteiner{
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    width:97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 15px;
}
.bloco {
    background-color: rgb(255, 255, 255);
    height: 800px;
    margin-bottom: 50%;
}
img{
    width: 300px;
    margin: 5px;
}
.bloco .um{
    margin-bottom: 0%;
}
footer{
    background-color: #fff;
    height: 100px;
}