@media screen and (max-width: 500px) {
    .conteiner {
        display: flex;
        flex-direction: column;
    }
    .bloco-texto{
        width: unset;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    img {
        width: 100px;
    }

    .bloco {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    .foto-perfil {
        width: 80%;
        margin: auto;
        margin-top: 8%;
    }

    address {
        background-color: rgba(255, 255, 255, 0.199);
        width: 90%;
        margin: auto;
    }

    nav {
        padding: 2px;
        width: 30%;
        gap: 3%;
    }

    .conteiner2 {
        margin: 1%;
        gap: 4%;
    flex-wrap: wrap;
    justify-content: center;
    }
    .cartaz{
        margin-bottom: 5%;
    }
    footer{
        padding-left: 1rem ;
        padding-right: 1rem ;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .paragrafo-foto {
        display: flex;
        flex-direction: column;
    }

    .bloco {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
    body {
        margin-top: 103px;
    }
    header h1{
        font-size: 1.8rem;
    }
}